mat-card {
    height: 80%;
    width: 100%;
    padding: 0;
    border-radius: 10px;
    box-shadow: 2px 2px 10px -2px black !important;
    cursor: pointer;
}

.main_div {
    padding: 0;
    margin-top: 1em;
}

.card_ {
    height: 17em;
    margin-bottom: 1em;
    width: 12em;
    padding: 0 10px 0 10px;
    /* border-radius: 20px; */
}

h4,
h6 {
    margin: 0;
}

h4 {
    font-size: 13px;
    opacity: 0.8;
}

h6 {
    opacity: 0.6;
    line-height: 7px;
}